# Specific Files to ignore
api/files/*
api/install
api/logs/*
api/resources
api/errors/*
nbproject/*
build/*
recursos/Targua
vendor/
www/settings.php
www/prueba.php
*settings.php
.DS_Store
.vscode
.ddev